include COPYING Changelog README TODO stonevpn
recursive-include conf *
recursive-include patches *
recursive-include rpm *
recursive-include StoneVPN *
recursive-include debian *
recursive-include man *
